{% extends "main" %}
{% block content %}

    <div class="container">
        {% for post in posts %}
        <div class="post-preview">
            <h2><a href="/post/{{ post.title | urlencode }}"> {{ post.title }}</a></h2>
            <p class="date">{{ post.date }}</p>
            <p>{{ post.content_preview }}...</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}


