<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
            <p>Check ou this tera Context:</p>
            <p>{{ my_message }}</p>
        </div>
    </body>
</html>