{% extends "main" %}
{% block content %}
    <div class="container">
        <h1>Sign In</h1>
        <form action="login" method="post" accept-charset="utf-8">
               Email:<input type="text" name="email">
               Password:<input type="password" name="password">
               <input type="submit" value="Login">
        </form>
    </div>
{% endblock content %}