<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700'
			rel='stylesheet' type='text/css'>
		<link rel="stylesheet"
			href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css'
			href="{{ PATH }}/file/style.css">
	</head>
	<body>
		<div class="container-alt">
			<div class="row top-menu">
				<div class="col-md-6">
				<a class="margin-left" href="{{ PATH }}">
					<img src="https://raw.githubusercontent.com/mairandomness/randomblog/gh-pages/images/pixelcat.png" width="80" alt="My pc, my cats and me logo" class="logo">
					 HOME </a>
				</div>
			</div>
			<div class="container">
				{% block content %}
				{% endblock content%}
			</div>
		</div>
	</body>
	<br>
	<footer>
		<br>
		<p>This blog was made using Rust, if you are curious, check out it's <a href="https://github.com/mairandomness/rustyRandomBlog">repository</a> :D </p>
	</footer>
</html>