<!DOCTYPE html>
<html lang="en">
	<head>
	<title>My pc, my cats and me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700'
			rel='stylesheet' type='text/css'>
		<link rel="stylesheet"
			href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css'
			href="{{ PATH }}/file/style.css">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/mairandomness/randomblog/gh-pages/images/pixelcat.png"/>
	</head>
	<body>
		<div class="container-alt">
			<div class="row top-menu">
				<div class="col-xs-10">
					<a class="home" href="{{ PATH }}">
					<img src="https://raw.githubusercontent.com/mairandomness/randomblog/gh-pages/images/pixelcat.png" width="80" alt="My pc, my cats and me logo" class="logo">
					 My pc, my cats and me
					 </a>
				</div>
				<div class="col-xs-2 media-links">
					<p><a class="fab fa-twitter icon" style="font-size:2.5em" href="https://twitter.com/maiRandomness"></a>
					<a class="fab fa-github icon" style="font-size:2.5em" href="https://github.com/mairandomness"> </a>
					<a class="fab fa-gitlab icon" style="font-size:2.5em" href="https://gitlab.gnome.org/mairandomness"></a></p>
				</div>

			</div>
			<div class="container">
				{% block content %}
				{% endblock content%}
			</div>
		</div>
	</body>
	<br>
	<footer>
		<hr>
		<p>This blog was made using Rust, if you are curious, check out it's <a href="https://github.com/mairandomness/rustyRandomBlog">repository</a> :D </p>
	</footer>
</html>