{% extends "main" %}
{% block content %}
    <div class="container">
        <h1>Write a new post :3</h1>
        <form action="bossing_around/post/new" method="POST">
        <input type="text" name="title" value="title">
        <input type="text" name="">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"> </i>  Save
        </button>
    </form>
    </div>
{% endblock content %}