{% extends "main" %}
{% block content %}
    <div class="container">
        <h1>Write a new post :3</h1>
        <form action="bossing_around/post/new" method="POST">
        <input type="text" name="username" value="Username">
        <input type="password" name="password">
        <input type="submit" value="Create">
    </form>
    </div>
{% endblock content %}